
.gameBoard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: auto;
  width: auto;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}